<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>To Do List</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/materialize.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="blue-grey lighten-1">
  <div class="container">
    <nav class="teal vamp">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">To Do List</a>
      </div>
    </nav>
    <form action="/" method="POST">
      <ul class="collection with-header">
        <li class="collection-header">
          <h4><%=date%></h4>
        </li>
        <%newItems.forEach((item) => { %>
        <li class="collection-item left-align z-depth-2">
          <div class="new-list-item">
            <%=item.name%>
            <form action="/delete" method="POST">
              <a href="" class="secondary-content" value="delete"><i class="material-icons">delete</i>
              </a>
            </form>
          </div>
        </li>
        <%});%>
      </ul>
      <div class="container submit">
        <input type="text" name='newListItem' placeholder="Add New Task">
        <button type="submit" class="waves-effect waves-light btn btn-small"><i
            class="tiny material-icons">create</i></button>
      </div>
    </form>
  </div>
</body>

</html>