.collection-header {
    text-align: center;
}

.collection .collection-item {
    background-color: #fff;
    line-height: 3rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
    /* height: 3rem; */
    vertical-align: middle;
    display: inline;
    float: left;
    width: 100%;
}

/* thead {
    height: 3rem;
} */

.list-item {
    width: 100%;
}